@import "./support.scss";

@import 'node_modules/primer-base/index.scss';

html, body {
  height: 100%;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.17em;
  margin-bottom: 10px;
}
h3 {
  font-size: 1em;
}

a {
  color: $text-orange;
}

li {
  list-style-type: none;
}
