@import "./support.scss";

@import 'node_modules/primer-base/index.scss';

html, body {
  // needed for sticky footer
  height: 100%;
  background: $primary-bg-color;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.17em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1em;
}

a {
  color: $action-color;
}

li {
  list-style-type: none;
}

// general centered block containing other elements
.block {
  width: 100%;
  min-width: $min-width;
  margin: 0 auto;

  @media screen and (min-width: $big-screen-width) {
    max-width: $max-width;
  }
}

// standard horizontal padding
.hpadding {
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;

  @media screen and (min-width: $padding-breakpoint) {
    max-width: $max-width;
  }
}

// sticky (glued to sides) padding
.sticky.hpadding {
  @media screen and (min-width: $padding-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
}

// sloppy (pushed away from sides) padding
.sloppy.hpadding {
  padding-left: $horizontal-padding * 2;
  padding-right: $horizontal-padding * 2;

  @media screen and (min-width: $padding-breakpoint) {
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }
}

// single column (one of 2) within block
.column {
  width: 100%;
  min-width: $min-width;

  @media screen and (min-width: $big-screen-width) {
    float: left;
    width: 50%;
    max-width: ($max-width / 2);

    padding-left: 0;
    padding-right: 5px;

    &:nth-child(even) {
      padding-left: 5px;
      padding-right: 0;
    }
  }
}
