@import "./support.scss";

@import 'node_modules/primer-base/index.scss';

body {
  padding: 1em 0;
  background: $primary-bg-color;
}

h1 {
  font-size: 1.2em;
  margin-top: 1em;
  padding: 0 5px;
}

h2 {
  font-size: 1em;
  color: #878787;
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  font-weight: normal;
  margin: 1em (-$default-padding);
  padding: 5px $default-padding;
}

loading + div h2 {
  margin-top: (-$default-padding);
}

a {
  color: $action-color;
  border-bottom: 1px dotted #999;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

// general centered block
.block,
h1 {
  min-width: $min-width - 12px;
  margin-left: 6px;
  margin-right: 6px;

  @media screen and (min-width: $max-width) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $max-width;
  }

  &.wrapped {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: $default-padding $default-padding;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  }
}

h1.block.wrapped {
  margin-bottom: 0;
  background: #f9f9f9;
}

// loader
.loader {
  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

abbr[title] {
  border-bottom: 1px dotted #333;
  text-decoration: none;
}
