// colors
@body-color: #24292e;
@action-color: #933;
@hover-color: #f6f6f6;
@primary-bg-color: #f9f9f9;
@input-text-color: #666;

// sizes
@min-width: 320px;
@max-width: 480px;
@default-padding: 10px;
