<!DOCTYPE html>
<html>
  <head>
    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
    <link
      rel="preload"
      href="<%= htmlWebpackPlugin.files.css[chunk] %>"
      as="style"
    />
    <% } %> <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <link
      rel="preload"
      href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"
      as="script"
    />
    <% } %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="shortcut icon" href="/assets/favicon.png" />
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon-16x16.png"
      sizes="16x16"
    />
    <link rel="manifest" href="/assets/manifest.json" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link rel="apple-touch-startup-image" href="/apple-touch-icon.png" />
    <link
      rel="mask-icon"
      href="/assets/safari-pinned-tab.svg"
      color="#5bbad5"
    />
  </head>
  <body></body>
</html>
