.disclaimer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-style: italic;
  padding: 0 $default-padding;
  font-size: 0.8 * $font-size;
  text-align: center;

  a {
    text-decoration: none;
  }
}
