@import "variables";
@import "normalize-scss/sass/normalize";
@import "base";
@import "nprogress";

body {
  padding: 1em 0;
  background: $body-bg-color;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $body-color;

  @media (prefers-color-scheme: dark) {
    color: $body-color-dark;
    background: $body-bg-color-dark;
  }
}

h1 {
  font-size: 1.05em;
  padding: 0 $default-padding;
  font-weight: 500;
}

h2 {
  font-size: 0.95em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 $default-padding;
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:hover {
    color: $action-color;
    @media (prefers-color-scheme: dark) {
      color: $action-color-dark;
    }
  }
  &:active {
    color: lighten($action-color, 50);
    @media (prefers-color-scheme: dark) {
      color: lighten($action-color-dark, 50);
    }
  }
}

abbr[title] {
  text-decoration: none;
}

.container {
  min-width: $min-width - 12px;
  margin-left: 6px;
  margin-right: 6px;

  @media screen and (min-width: $max-width) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $max-width;
  }
}

.block {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  padding: $default-padding;
  background: $block-bg-color;
  @media (prefers-color-scheme: dark) {
    background: $block-bg-color-dark;
  }

  h1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@import "loader";
@import "head";
@import "matches";
@import "score";
@import "competition";
@import "standings";
@import "match";
@import "error";
@import "competitions";
@import "home";
@import "paginated-fixtures";

.disclaimer {
  margin-top: 1em;
  margin-bottom: 2em;
  font-style: italic;
  padding: 0 $default-padding;
  font-size: 12px;
  text-align: center;

  a {
    text-decoration: none;
  }
}
