.match {
  &__container {
    p {
      margin: 1em 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__players {
    span {
      &:first-child:before {
        content: none;
      }
      &:before {
        content: ", ";
      }

      &.in {
        &:before {
          content: " (";
        }
        &:after {
          content: ")";
        }
      }
    }
  }
}
